@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.woff);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.woff);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Bold.woff2);
}

@font-face {
    font-family: Montserrat;
    src: url(../fonts/Montserrat-Regular.woff2);
}

$primary: #45a6ff;
$text: #3b4252;
$family: Montserrat;
$secondary: #1d2434;

a {
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: none;
    list-style: none;
    font-family: Montserrat;
    color: $text;
}

.container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

body {
    background: url(../imgs/background.png), #f3f3f3;
    background-size: cover;
    width: 100%;
    height: 100%;
}

button {
    cursor: pointer;
}

.header {
    z-index: 10;
}

.sidenav {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    height: 85px;
    align-items: center;

    &__logo {
        cursor: pointer;
    }

    &__menu {
        display: flex;
        align-items: center;
        gap: 15px;

        &__btn {
            background: transparent;
            border: none;
            font-size: 20px;
        }
    }

    &__left {
        background-size: cover;
        display: none;
        width: 100%;
        overflow: hidden;
        background-image: url(../imgs/menu-bg.png), linear-gradient(white, white);
        background-size: cover;
        z-index: 10;
        height: 100vh;
        position: absolute;

        &__nav {
            display: flex;
            height: 80px;
            align-items: center;
            justify-content: space-between;

            &__img {
                cursor: pointer;
            }

            &__menu {
                color: white;
                display: flex;
                gap: 13px;
                align-items: center;
            }

            &__btn,
            &__btn>i {
                background: transparent;
                color: white;
                font-size: 23px;
                border: none;
            }
        }

        &__hero {
            margin: 90px 0;

            &__title {
                color: $primary;
                font-size: 58px;
                font-weight: bold;
            }

            &__link {
                color: white;
                font-size: 59px;
                font-weight: bold;
            }

            &__subtitles {
                font-size: 28px;
                margin: 10px 0;
                color: white;
                font-weight: normal;
            }

            &__bottom {
                color: white;
                font-size: 20px;
            }
        }
    }
}

.footer {
    width: 100%;
    bottom: 0;
    background: #fff;
    padding: 30px 0;
    border-top: 2px solid #ebebeb;

    &>.container {
        display: flex;
        justify-content: space-between;
    }

    &__logo {
        display: flex;
        align-items: center;
        gap: 20px;

        &__text {
            border-left: 1px solid gray;
            height: 30px;
            display: flex;
            align-items: center;
            padding-left: 20px;
        }
    }

    &__text {
        text-align: right;
        flex-direction: column;
        display: flex;
        gap: 5px;
    }
}

@media only screen and (max-width: 480px) {
    .footer {
        &>.container {
            flex-direction: column;

        }

        &__text {
            margin: 5px 0;
            text-align: center;
            display: flex;
        }
    }
    .sidenav {
        &__left {
            height: 100vh !important;
            &__hero {
                &__link {
                    font-size: 50px;
                }
            }
        }
    }
}