@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.woff);
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.woff);
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.woff2);
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.woff2);
}
a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: none;
  list-style: none;
  font-family: Montserrat;
  color: #3b4252;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

body {
  background: url(../imgs/background.png), #f3f3f3;
  background-size: cover;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}

.header {
  z-index: 10;
}

.sidenav {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  height: 85px;
  align-items: center;
}
.sidenav__menu {
  display: flex;
  align-items: center;
  gap: 15px;
}
.sidenav__menu__btn {
  background: transparent;
  border: none;
  font-size: 20px;
}
.sidenav__left {
  background-size: cover;
  display: none;
  width: 100%;
  background: #1d2434;
  z-index: 10;
  height: 100vh;
  position: absolute;
}
.sidenav__left__nav {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}
.sidenav__left__nav__menu {
  color: white;
  display: flex;
  gap: 13px;
  align-items: center;
}
.sidenav__left__nav__btn, .sidenav__left__nav__btn > i {
  background: transparent;
  color: white;
  font-size: 23px;
  border: none;
}
.sidenav__left__hero {
  margin: 90px 0;
}
.sidenav__left__hero__title {
  color: #45a6ff;
  font-size: 58px;
  font-weight: bold;
}
.sidenav__left__hero__link {
  color: white;
  font-size: 59px;
  font-weight: bold;
}
.sidenav__left__hero__subtitles {
  font-size: 28px;
  margin: 10px 0;
  color: white;
  font-weight: normal;
}
.sidenav__left__hero__bottom {
  color: white;
  font-size: 20px;
}

.footer {
  width: 100%;
  bottom: 0;
  background: #fff;
  padding: 30px 0;
  border-top: 2px solid #ebebeb;
}
.footer > .container {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__logo__text {
  border-left: 1px solid gray;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.footer__text {
  text-align: right;
  flex-direction: column;
  display: flex;
  gap: 5px;
}

@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.woff);
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.woff);
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Bold.woff2);
}
@font-face {
  font-family: Montserrat;
  src: url(../fonts/Montserrat-Regular.woff2);
}
a {
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: none;
  list-style: none;
  font-family: Montserrat;
  color: #3b4252;
}

.container {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}

body {
  background: url(../imgs/background.png), #f3f3f3;
  background-size: cover;
  width: 100%;
  height: 100%;
}

button {
  cursor: pointer;
}

.header {
  z-index: 10;
}

.sidenav {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  height: 85px;
  align-items: center;
}
.sidenav__menu {
  display: flex;
  align-items: center;
  gap: 15px;
}
.sidenav__menu__btn {
  background: transparent;
  border: none;
  font-size: 20px;
}
.sidenav__left {
  background-size: cover;
  display: none;
  width: 100%;
  background: #1d2434;
  z-index: 10;
  height: 100vh;
  position: absolute;
}
.sidenav__left__nav {
  display: flex;
  height: 80px;
  align-items: center;
  justify-content: space-between;
}
.sidenav__left__nav__menu {
  color: white;
  display: flex;
  gap: 13px;
  align-items: center;
}
.sidenav__left__nav__btn, .sidenav__left__nav__btn > i {
  background: transparent;
  color: white;
  font-size: 23px;
  border: none;
}
.sidenav__left__hero {
  margin: 90px 0;
}
.sidenav__left__hero__title {
  color: #45a6ff;
  font-size: 58px;
  font-weight: bold;
}
.sidenav__left__hero__link {
  color: white;
  font-size: 59px;
  font-weight: bold;
}
.sidenav__left__hero__subtitles {
  font-size: 28px;
  margin: 10px 0;
  color: white;
  font-weight: normal;
}
.sidenav__left__hero__bottom {
  color: white;
  font-size: 20px;
}

.footer {
  width: 100%;
  bottom: 0;
  background: #fff;
  padding: 30px 0;
  border-top: 2px solid #ebebeb;
}
.footer > .container {
  display: flex;
  justify-content: space-between;
}
.footer__logo {
  display: flex;
  align-items: center;
  gap: 20px;
}
.footer__logo__text {
  border-left: 1px solid gray;
  height: 30px;
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.footer__text {
  text-align: right;
  flex-direction: column;
  display: flex;
  gap: 5px;
}

.request__hero {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.request__hero > .request__main {
  text-align: center;
}
.request__hero__title {
  font-size: 58px;
  font-weight: bold;
}
.request__hero__subtitle {
  font-size: 28px;
}
.request__hero__person {
  font-size: 18px;
}
.request__hero__location {
  font-size: 18px;
  margin-top: 10px;
}
.request__hero__btn {
  width: 250px;
  height: 56px;
  background: #45a6ff;
  color: white;
  border: 2px solid #45a6ff;
  font-size: 18px;
  border-radius: 30px;
  margin-top: 10px;
}
.request__hero__btn > a {
  color: white;
}
.request__hero__btn:hover {
  background: transparent;
}
.request__hero__btn:hover .request__hero__link {
  color: #45a6ff;
}
.request__hero__btn:active {
  transform: scale(1.1);
  transition: all 0.4s ease-out;
}

.siteType {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.siteType__test {
  display: flex;
  gap: 50px;
}
.siteType__title {
  font-size: 36px;
  width: 45%;
}
.siteType__subtitle {
  font-size: 18px;
  color: rgb(119, 123, 135);
  width: 65%;
  margin: 20px 0;
}
.siteType__item {
  gap: 10px;
  display: flex;
  flex-direction: column;
}
.siteType__item__img {
  width: 82px;
}
.siteType__item__label {
  margin-top: -10px;
  display: flex;
  gap: 10px;
  width: 250px;
}
.siteType__btn {
  width: 236px;
  height: 56px;
  background: #45a6ff;
  color: white;
  border: 2px solid #45a6ff;
  font-size: 18px;
  border-radius: 30px;
  margin-top: 10px;
}
.siteType__btn > i, .siteType__btn > a {
  color: white;
}
.siteType__btn:hover {
  background: transparent;
}
.siteType__btn:hover a, .siteType__btn:hover i {
  color: #45a6ff;
}
.siteType__btn:hover:active {
  transform: scale(1.1);
  transition: all 0.4s ease-out;
}

.requestSecond {
  height: 100vh;
  display: flex;
  padding-top: 100px;
}
.requestSecond__img {
  width: 200px;
}
.requestSecond__back {
  width: 180px;
  height: 56px;
  background: transparent;
  color: #3b4252;
  border: 2px solid #3b4252;
  font-size: 18px;
  border-radius: 30px;
}
.requestSecond__back:hover {
  background: #3b4252;
}
.requestSecond__back:hover a, .requestSecond__back:hover i {
  color: white;
}
.requestSecond__back:active {
  transform: scale(1.1);
  transition: all 0.4s ease-out;
}

.fivth__form__grp {
  display: flex;
  gap: 15px;
  margin-top: 10px;
}
.fivth__form__label {
  display: flex;
  gap: 10px;
}
.fivth__form__text {
  font-size: 17px;
}
.fivth__form__inp {
  padding-left: 10px;
  background: rgb(233, 233, 233);
  border: 1px solid gray;
  border-radius: 5px;
  width: 286px;
  height: 48px;
  outline: none;
}
.fivth__form__inp::-moz-placeholder {
  font-size: 18px;
}
.fivth__form__inp::placeholder {
  font-size: 18px;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero__info {
  margin-top: -140px;
  display: flex;
  flex-direction: column;
  gap: 13px;
}
.hero__info__title {
  font-size: 58px;
  font-weight: bold;
}
.hero__info__subtitle {
  font-size: 27px;
  width: 70%;
}
.hero__info__text {
  font-size: 16px;
  color: #777b87;
}
.hero__info__btn {
  width: 225px;
  height: 56px;
  background: #45a6ff;
  color: white;
  border: 2px solid #45a6ff;
  font-size: 18px;
  border-radius: 25px;
}
.hero__info__btn:hover {
  transition: all 0.5s ease-out;
  background: transparent;
}
.hero__info__btn:hover .hero__info__link {
  color: #45a6ff !important;
}
.hero__info__btn:active {
  transform: scale(1.1);
  transition: all 0.2s ease-out;
}

.services {
  margin-bottom: 100px;
}
.services__title {
  font-size: 36px;
  font-weight: bold;
}
.services__list {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}
.services__item {
  background: #fff;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.15);
  padding: 40px 0;
  width: 390px;
  text-align: center;
}
.services__item__list {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.portfolio {
  background: #fff;
  margin-bottom: 100px;
  padding: 100px;
}
.portfolio__nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}
.portfolio__nav__list {
  display: flex;
  gap: 36px;
}
.portfolio__nav__item {
  cursor: pointer;
  border-bottom: 1px dashed #3b4252;
}
.portfolio__nav__item:hover {
  color: #45a6ff;
  transition: all 0.2s ease-out;
  border-bottom: 1px dashed #45a6ff;
}
.portfolio__hero {
  display: flex;
  justify-content: space-between;
}
.portfolio__hero__img {
  width: 700px;
}
.portfolio__hero__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 80px;
}
.portfolio__hero__info__name {
  font-size: 16px;
  color: rgb(59, 66, 82);
  font-weight: bold;
}
.portfolio__hero__info__title {
  font-size: 36px;
  color: rgb(59, 66, 82);
  font-weight: bold;
}
.portfolio__hero__info__subtitle {
  font-size: 16px;
  color: rgb(119, 123, 135);
  font-weight: 400;
  line-height: 20.8px;
}
.portfolio__hero__btn {
  width: 220px;
  height: 50px;
  background: #45a6ff;
  color: white;
  border: 2px solid #45a6ff;
  font-size: 17px;
  border-radius: 30px;
}
.portfolio__hero__btn:hover {
  transition: all 0.5s ease-out;
  background: transparent;
  color: #3b4252;
}
.portfolio__hero__btn:active {
  transform: scale(1.1);
  transition: all 0.2s ease-out;
}

.clients {
  margin: 50px 0;
}
.clients__title {
  font-size: 36px;
}
.clients__title > span {
  font-weight: 900;
}
.clients__item {
  width: 270px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
}
.clients__list {
  display: flex;
  justify-content: space-between;
}

.apps {
  background: #fff;
  padding: 50px 0;
}
.apps > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.apps__name {
  font-size: 18px;
  font-weight: bold;
}
.apps__box {
  border-right: 2px solid gray;
  padding-right: 40px;
}
.apps__title {
  font-size: 71px;
  font-weight: bold;
}
.apps__links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.apps__links__item {
  text-decoration: underline;
}

.blog {
  margin: 70px 0;
}
.blog__list {
  display: flex;
  justify-content: space-between;
}
.blog__item {
  width: 23% !important;
}
.blog__item__date {
  font-size: 16px;
  color: gray;
}
.blog__item__title {
  font-size: 16px;
  margin: 10px 0;
}
.blog__item__subtitle {
  color: gray;
  margin-bottom: 10px;
}
.blog__item__link {
  color: #45a6ff;
  border-bottom: 1px dashed #45a6ff;
}
.blog__item__img {
  width: 100%;
}

.projects {
  background-image: url(../imgs/projects-bg.png);
  background-size: cover;
}
.projects > .container {
  display: flex;
  align-items: center;
}
.projects__img {
  height: 600px;
}
.projects__info__title {
  font-size: 36px;
  font-weight: bold;
  width: 77%;
}
.projects__info__subtitle {
  font-size: 18px;
  margin: 10px 0;
  color: gray;
}
.projects__info__btn {
  width: 186px;
  height: 56px;
  background: #45a6ff;
  color: white;
  border: 2px solid #45a6ff;
  font-size: 16px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: center;
}
.projects__info__btn > i {
  color: white;
  font-size: 20px;
}
.projects__info__btn:hover {
  color: #3b4252;
  background: transparent;
  transition: all 0.3s ease-out;
}
.projects__info__btn:hover .projects__info__icon {
  color: #3b4252;
}
.projects__info__btn:active {
  transform: scale(1.1);
  transition: all 0.3s ease-out;
}/*# sourceMappingURL=index.css.map */